.chat {
    display: flex;
    flex-direction: column;
    flex: 0.65;
}

.chat__header {
    display: flex;
    padding: 20px;
    align-items: center;
    border: 1px solid lightgrey;
}

.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo > h4 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerInfo > p {
    color: gray;
    font-size: 12px;
}

.chat__body {
    flex: 1;
    background-image: 
        url('https://w0.peakpx.com/wallpaper/818/148/HD-wallpaper-whatsapp-background-cool-dark-green-new-theme-whatsapp.jpg    ')
    ;
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
}

.chat__body > p {
    background-color: white;
    width: 60%;
}

.chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 20px;
    background-color: #ffffff;
    margin-bottom: 30px;
}


.chat__reciever {
    margin-left: auto;
    background-color: #a0c089;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.chat__timeStamp{
    margin-left: 10px;
    font-size: xx-small;
}

.chat__name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: x-small;
    color: white;
}

.chat__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    border: ipx solid lightgray;
}

.chat__footer > form {
    flex: 1;
    display: flex;
}

.chat__footer > form > input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    outline-width: 0;
}

.chat__footer > form > button {
    display: none;
}

.chat__footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}